<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>648126554082-5e91v9embd416d3knkmh0ai02qekmj0o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.648126554082-5e91v9embd416d3knkmh0ai02qekmj0o</string>
	<key>API_KEY</key>
	<string>AIzaSyBr06f8GDLuYaRgTjbTkDz74RVnGLkSSjs</string>
	<key>GCM_SENDER_ID</key>
	<string>648126554082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.telemed.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>telemed-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>telemed-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648126554082:ios:4f3f59800c410d2cefe3bb</string>
</dict>
</plist>